@charset "utf-8";
@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);

#ingredient{
  border:2px solid lightcoral;
}
th,td{
  border:1px solid lightcoral;
}
.btn{
  -webkit-appearance:none;
  margin:5px;
}
